<html>
  <head>
    <title>Timetable</title>
  </head>
  <body>
    <a href="/dashtimetable"><h1>HOME</h1></a>
    <a href="/admin">LOGOUT</a>
    <h1>Timetable</h1>
    <table border="1" cellspacing="0" cellpadding="4">
      <tr>
        <th>Day</th>
        <th>8:40-9:30</th>
        <th>9:30-10:20</th>
        <th>10:20-11:10</th>
        <th>11:10-12:00</th>
        <th>12:50-1:40</th>
        <th>1:40-2:30</th>
        <th>2:30-3:20</th>
        <th>3:20-4:10</th>
      </tr>
      <tr>
        <th>Monday</th>
        <% for (var i = 0; i < results.length; i++) { %>
            <% if (results[i].day === 'Monday') { %>
              <th><%= results[i].subject %> (<%= results[i].faculty %>)</th>
            <% } %>
          <% } %>  
      </tr>
      <tr>
        <th>Tuesday</th>
        <% for (var i = 0; i < results.length; i++) { %>
            <% if (results[i].day === 'Tuesday') { %>
              <th><%= results[i].subject %> (<%= results[i].faculty %>)</th>
            <% } %>
          <% } %>  
      </tr>
      <tr>
        <th>Wednesday</th>
        <% for (var i = 0; i < results.length; i++) { %>
            <% if (results[i].day === 'Wednesday') { %>
              <th><%= results[i].subject %> (<%= results[i].faculty %>)</th>
            <% } %>
          <% } %>  
      </tr>
      <tr>
        <th>Thusrsday</th>
        <% for (var i = 0; i < results.length; i++) { %>
            <% if (results[i].day === 'Thursday') { %>
              <th><%= results[i].subject %> (<%= results[i].faculty %>)</th>
            <% } %>
          <% } %>  
      </tr>
      <tr>
        <th>Friday</th>
        <% for (var i = 0; i < results.length; i++) { %>
            <% if (results[i].day === 'Friday') { %>
              <th><%= results[i].subject %> (<%= results[i].faculty %>)</th>
            <% } %>
          <% } %>  
      </tr>
      <tr>
        <th>Saturday</th>
        <% for (var i = 0; i < results.length; i++) { %>
            <% if (results[i].day === 'Saturday') { %>
              <th><%= results[i].subject %> (<%= results[i].faculty %>)</th>
            <% } %>
          <% } %>  
      </tr>
    </table>
  </body>
</html>
